.headerContainer {
  background-color: #ce2029;
}

.header {
  font-size: 0.7rem;
  font-weight: bold;
  color: #f2f2f2;
  height: fit-content;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.2rem solid #f2f2f2;
  border-radius: 40px;
  align-self: center;
  white-space: nowrap;
  transition: all 250ms ease-in-out;
}

.navBar {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 425px) {
  .header {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .header {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 1.3rem;
  }
}
