.navMenu {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.navMenu :nth-child(1) {
  padding-left: 1rem;
}

.navMenu :nth-child(6) {
  margin-left: auto;
  margin-right: 2rem;
}

.navItem {
  font-weight: bold;
  color: #f2f2f2;
}

.navLink {
  transition: 0.7s ease;
}

.navLink:hover {
  color: #000000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navItem {
    margin: 16px 0;
  }

  .navMenu.active {
    left: 0;
  }
}
