.navMenu {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 2.5rem;
}

.navMenu :nth-child(6) {
  margin-left: auto;
  margin-right: 2rem;
}

.navItem {
  font-weight: bold;
  width: auto;
  color: #f2f2f2;
}

.navLink {
  transition: 0.7s ease;
  border: 0.2rem solid #a00c19;
  border-radius: 40px;
  padding: 0.7rem 1.4rem;
}

.navLink:hover {
  color: #a00c19;
  background-color: #000000;
  border: 0.2rem solid #000000;
  border-radius: 40px;
  padding: 0.7rem 1.4rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navItem {
    margin: 16px 0;
  }

  .navMenu.active {
    left: 0;
  }
}
