.navMenu {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  list-style: none;
}

.navMenu :nth-child(1) {
  padding-left: 1rem;
}

.navMenu :nth-child(6) {
  margin-left: auto;
  margin-right: 2rem;
}

/* @media (max-width: 425px) {
  .navMenu {
    padding-left: 0.5em;
    padding-right: 1em;
  }
}

@media (min-width: 768px) {
  .navMenu {
    padding-left: 1em;
    padding-right: 2em;
  }
} */

.navItem {
  /* padding: 1.5em; */
  font-weight: bold;
  color: #f2f2f2;
}
