.buttonContainer {
  display: flex;
  width: 100%;
  height: 50vw;
  align-items: flex-end;
  justify-content: center;
}

.fujiIsland {
  width: 100%;
  height: 50vw;
  position: absolute;
  z-index: -10;
}

.menuButton {
  background-color: #a00c19;
  color: #f2f2f2;
  font-size: 0.4rem;
  font-weight: bold;
  padding: 0.7rem 1.4rem;
  border: 0.2rem solid #a00c19;
  border-radius: 40px;
  margin-bottom: 1rem;
  transition: all 250ms ease-in-out;
}

.menuButton:hover {
  background-color: #000000;
  color: #a00c19;
  border: 0.2rem solid #000000;
  transition: 0.7s ease;
  cursor: pointer;
}

@media (min-width: 425px) {
  .menuButton {
    font-size: 0.6rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .menuButton {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }
}

@media (min-width: 1024px) {
  .menuButton {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
